.details-container {
  border: var(--border);
  padding: 20px;
  border-radius: var(--border-radius);
}

.details-container img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style-type: none;
}
li {
  width: 100%;
  margin: 5px;
  padding: 15px;
  border: var(--border);
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}
